html{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
h2{
    color: red;
    font-weight: bold;
}

button{
    background-color: aqua;
    color: black;
}

button:hover{
    cursor: pointer;
    background-color: blue;
}

button:active{
    cursor: pointer;
    background-color: red;
}

input{
    box-shadow: inset;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}